.header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    height: 150px;
}

.header img{
    display: flex;
    margin: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid white;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.nav li{
    margin: 30px;
    padding: 20px;
    text-align: center;
    list-style: none;

}

